/* 共通設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/group-5@2x.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.site-width {
  width: 1440px;
  margin: 0 auto;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__arrow {
  position: absolute;
  top: 35%;
  right: 8%;
  height: 20px;
  width: 12px;
}

.select__arrow--adjust {
  right: 7%;
}

.select__arrow--up {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-radius: 2px;
  background-color: #88939e;
  position: absolute;
  top: 10%;
  left: 10%;
}

.select__arrow--down {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-radius: 2px;
  background-color: #88939e;
  position: absolute;
  top: 55%;
  left: 10%;
}

.select__arrow--blank {
  width: 100%;
  height: 9px;
  background-color: white;
  position: absolute;
  top: 30%;
}

/* ヘッダー */
.header {
  margin: 36px auto 110px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1196px;
  margin: 0 auto;
}

.nav {
  display: flex;
}

.nav__menu {
  display: flex;
  margin-top: 8px;
}

.nav__item {
  opacity: 0.9;
  font-size: 22px;
  color: #ffffff;
  margin-left: 61px;
}

.header__oval {
  margin-left: 63px;
}

/* 最初のセクション */
.catch {
  margin-bottom: 486px;
}

.catch__title {
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.catch__text {
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 21px;
}

.catch__link a {
  text-align: center;
  margin-top: 43px;
}

.catch__link {
  text-align: center;
  margin-top: 56px;
}

.catch__link a {
  opacity: 0.9;
  font-size: 22px;
  color: #ffffff;
  padding: 13px 31px 17px;
  border-radius: 100px;
  background-color: #fd5c63;
}

/* ビデオのセクション */
.news {
  width: 1196px;
  margin: 0 auto 149px;
  display: flex;
  align-items: center;
}

.news__title {
  font-size: 36px;
  font-weight: normal;
  color: #4c4c51;
  margin-bottom: 21px;
}

.news__text {
  opacity: 0.9;
  font-size: 22px;
  color: var(--blue-grey);
  color: #88939e;
}

.video {
  width: 463px;
  height: 257px;
}

/* 数値のセクション */
.performance {
  margin-bottom: 145px;
}

.performance__hr {
  width: 755px;
  top: 42px;
  left: 335px;
  border-radius: 1px;
  background-color: #dbdbdb;
}

.performance__container {
  width: 1196px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.performance__value {
  opacity: 0.9;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  color: #fd666c;
}

.performance__caption {
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
  color: #88939e;
  margin: 5px 15px 0;
}

.performance__mr {
  margin-right: 30px;
}

.performance__line {
  width: 35px;
  height: 2px;
  border-radius: 1px;
  background-color: #dbdbdb;
  margin: 41px 18px 0;
}

/* 人物画像のセクション */
.promote {
  display: flex;
  margin-bottom: 140px;
}

.promote__imgContainer {
  display: grid;
  height: 519px;
  position: relative;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}

.promote__goodman {
  width: 794px;
  height: 386px;
}

.promote__imgTitle {
  background-color: #fd6e74;
  width: 440px;
  height: 84px;
  padding: 24px 233px 27px 121px;
  opacity: 0.9;
  font-size: 36px;
  font-weight: normal;
  color: #ffffff;
}

.promote__button {
  position: absolute;
  right: 49px;
  bottom: 87px;
}

.promote__unitContainer {
  margin-top: 54px;
  margin-left: 74px;
  display: flex;
  flex-direction: column;
}

.promote__unit {
  display: flex;
  margin-bottom: 63px;
}

.promote__logo {
  margin-right: 39px;
  margin-top: 12px;
}

.promote__subtitle {
  margin-bottom: 14px;
  opacity: 0.9;
  font-size: 22px;
  font-weight: bold;
  color: #fe757b;
}

.promote__description {
  width: 350px;
  opacity: 0.9;
  font-size: 22px;
  color: #88939e;
}

/* city選択のセクション */
.recommend {
  margin-bottom: 141px;
}

.recommend__title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #4c4c51;
  margin-bottom: 21px;
}

.recommend__text {
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
  color: #88939e;
  margin-bottom: 24px;
}

.Rectangle-44 {
  width: 474px;
  height: 60px;
  border-radius: 100px;
  border: solid 2px var(--white);
}

.recommend__formContainer {
  margin: 0 auto;
  text-align: center;
  width: 474px;
}

.recommend__selectContainer {
  height: 56px;
  border-radius: 30px 30px 0 0;
  border: solid 2px #dbdbdb;
  border-bottom: none;
  position: relative;
}

.button__select-city {
  width: 405px;
  opacity: 0.9;
  font-size: 22px;
  color: #88939e;
  background-color: white;
  border: none;
  position: absolute;
  left: 38px;
  top: 12px;
}

.recommend__submitContainer {
  height: 61px;
  border-radius: 0 0 30px 30px;
  background-color: #fd6e74;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[name="recommend__submit"] {
  opacity: 0.9;
  font-size: 22px;
  color: #ffffff;
  background-color: #fd6e74;
  border: none;
}

/* メニューのセクション */
.menu {
  width: 1196px;
  margin: 0 auto 61px;
  display: flex;
}

.menu__configrationContainer {
  margin-top: 8px;
  margin-right: 150px;
}

.menu__content {
  width: 338px;
  height: 60px;
  border-radius: 2px;
  border: solid 2px #dbdbdb;
  margin-bottom: 16px;
  position: relative;
}

.button__select-lang {
  width: 291px;
  font-family: Roboto;
  font-size: 22px;
  border-radius: 2px;
  opacity: 0.9;
  font-size: 22px;
  color: #88939e;
  background-color: white;
  border: none;
  position: absolute;
  top: 16px;
  left: 25px;
}

.listMenu {
  display: flex;
}

.menuUnit {
  width: 217px;
  margin-right: 23px;
}

.menuUnit__item {
  opacity: 0.9;
  font-size: 22px;
  font-weight: bold;
  color: #fe757b;
  margin-bottom: 12px;
}

.menuUnit__linksContaner {
  width: 216px;
  height: 180px;
}

.menuUnit__link {
  opacity: 0.9;
  font-size: 22px;
  line-height: 1.36;
  color: #88939e;
  margin-bottom: 1.5px;
}

.margin-left {
  margin-left: 7px;
}

.onFooter {
  width: 1196px;
  margin: 0 auto 37px;
  height: 2px;
  border-radius: 2px;
  background-color: #e8e8e8;
  border: none;
}

/* フッター */
.footer__inner {
  width: 1196px;
  margin: 0 auto 18px;
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  width: 279px;
  display: flex;
  flex-wrap: wrap;
}

.footer__navItem {
  opacity: 0.9;
  font-size: 22px;
  line-height: 1.36;
  color: #88939e;
}

.footer__adjustMargin {
  margin-right: 44px;
}